<!--DECONNECTION-->
<div id="nav_barre_deconnection_div">
    <div id="logo_honde_div" >
        <img id="logo_honde_img"  src="/imgstatic/logoinstagram.png" alt="" srcset="">
    </div>

    <div id="relationship_div">
        <input id="search_relationship_input" placeholder="Rechercher" type="text">
    </div>

    <div id="authentification_div">
        <a id="connection_authentification_a" href="http://">
            <button id="connection_authentification_btn">Se connecter</button>
        </a>
        <a id="register_authentification_a" href="http://">
            <button id="register_authentification_btn">S'inscrire</button>
        </a>
    </div>
</div>