<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/check_mail_view_component.css">
</head>
<body>
    <div id="check_mail_container_div">
        <div id="check_mail_center_container_div">
            <h2>Yesss l'inscription s'est bien déroulée</h2>
            <br>
            <p>Verifier vos mails pour finaliser l'inscription</p>
            <br>
            <div id="emoji_check_mail_div">
                <img src="/imgstatic/emojicheckmail.png" alt="emojicheckmail" srcset="">
            </div>
        </div>
    </div>
</body>
</html>