<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change mot de passe honde</title>
    <link rel="stylesheet" href="/css/pwd_reseting_view_component.css">
</head>
<body>
    <div id="pdw_reseting_container_div">
        <div id="form_pdw_reseting_container_div">
            <img
                id="logo_honde_img"
                src="/imgstatic/logoinstagram.png"
                alt="logo instagram"
              />
              <div id="message_element_form_pdw_reseting_container_div" class="element_form_pdw_reseting_container_div">
                <span id="message_element_form_pdw_reseting_container_span">
                  Changer votre mot de passe
                </span>
              </div>
            <form id="password_reseting_type_view">
                <!--NEW PASSE WORD-->
                <div
                  id="password_form_pdw_reseting_container_div"
                  class="element_form_pdw_reseting_container_div"
                >
                  <label for="password_user"></label>
                  <input
                    id="password_user"
                    class="element_form_pdw_reseting_container_center element_input"
                    name="password_user"
                    type="text"
                    placeholder="Nouveau mot de passe"
                  />
                </div>

                <br>
                <!--CONF NEW PASSE WORD-->
                
                <div
                  id="password_form_pdw_reseting_container_div"
                  class="element_form_pdw_reseting_container_div"
                >
                  <label for="conf_password_user"></label>
                  <input
                    id="conf_password_user"
                    class="element_form_pdw_reseting_container_center element_input"
                    name="conf_password_user"
                    type="text"
                    placeholder="Confirmation mot de passe"
                  />
                </div>
      
                <br>
                <div id="button_user" class="element_form_pdw_reseting_container_div">
                  <button
                    id="button_user"
                    class="element_form_pdw_reseting_container_center"
                    type="submit"
                  >
                    Changer votre mot de passe
                  </button>
                </div>
              </form>
        </div>
    </div>
    <script src="/js/Ajax_password_reseting_view_component.js"></script>
</body>
</html>