*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
#private_message_container_div{
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
}
#middle_private_message_container_div{
    width: 70%;
    height: 98%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/*TAG LISTE FRIENDS*/
#friends_speak_private_message_container_div{
    width: 30%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, .4);
}
/*FORM SEARCH FRIENDS*/
#seach_friends_speak_private_message_container_div{
    width: 100%;
    height: 30px;
}

#form_seach_friends_speak_private_message_container_fom{
    width: 100%;
    height: 100%;
}
#bar_seach_friends_speak_private_message_container_inp{
    width:98%;
    height: 26px;
    border: hidden;
}
#bar_seach_friends_speak_private_message_container_inp:focus{
    outline: 0;
}
#bar_seach_friends_speak_private_message_container_inp:active{
    border: 2px solid rgb(0, 195, 255);
}
.show_list_friends{
    display: block;
    position: absolute;
    overflow: scroll;
    z-index: 1;
    width: 30%;
    height: 350px;
    border: 1px solid black;
    background-color: white;
}

.hide_list_friends{

    display: none;
}

/*LISTE FRIENDS*/
#list_friends_speak_private_message_container_div{
    overflow: scroll;
    width: 100%;
    height: 100%;
}
.status_friends_speak_private_message_container_div{
    display: flex;
    flex-direction: row; 
    cursor: pointer;   
}
.status_friends_speak_private_message_container_div:hover{
    background-color: rgb(179, 173, 173);
}
#img_user_container_div{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_personnage_authentification_img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    cursor: pointer;
}
#inline_friends_speak_private_message_container_div{
    content: ' ';
    position: relative;
    top: 20px;
    right: 20px;
    border: 2px solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
#info_friends_speak_private_message_container_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*MESSAGE PRIVÉ*/
#discussion_private_message_container_div{
    width: 80%;
    height: 100%;
}
#message_discussion_private_message_container_div{
    width: 100%;
    height: 93%;
    overflow: scroll;
}
a.verrou {
    cursor: default;
}
.active{
    background-color: rgb(119, 118, 118);
}
#name_store{
    position: absolute;
    width: 70px;
    height: 14px;
    background-color: red;
}
.qui_speak{
    width: 50px;
    height: 100%;
    background-color: rgb(161, 159, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
/*STYLE MESSAGES*/
.new_message_me{
    width: 90%;
    float: right;
    margin-top: 18px;
    border-bottom: 1px solid rgb(0, 183, 255);
}
.old_messages_me{
    width: 90%;
    float: right;
    margin-top: 18px;
    border-bottom: 1px solid rgb(255, 94, 0);
}
.old_messages{
    width: 90%;
    float: right;
    margin-top: 18px;
}
.new_message_friend{
    width: 90%;
    float: left;
    margin-top: 18px;
    border-bottom: 1px solid rgb(0, 255, 106);
}

#text_discussion_private_message_container_div{
    width: 100%;
    height: 50px ;
}

#form_discussion_private_user{
    width: 99%;
    height: 100%;
    margin-left: 10px;
}
#text_discussion_private_user{
    width: 80%;
    height: 100%;
    border: none;
}
#text_discussion_private_user:focus{
    outline: 0;
}
#button_discussion_private_user{
    cursor: pointer;
    width: 18%;
    height: 100%;
    border: none;
    font-size: 20px;
}
#button_discussion_private_user:active{
    color: rgb(0, 174, 255);
    font-weight: bold;
}

